.container{
    width: 98%;
    height: auto;
    margin: auto;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 24px;
    color: #fca311;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}