.container{
    color: #fca311;
    font-family: "Quicksand";
    display: flex;
    width: 20%;
    padding: 20px;
}
.card{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}
.card img{
    width: 95%;
}
