.container{
    background-color: #636363;
    width: 98%;
    height: auto;
    margin: auto;
    border-radius: 30px;
    color: #f5f5f5;
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 24px;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
.tittle{
    font-family: "Quicksand";
    font-weight: bold;
    color: #fca311;
    padding-top: 15px;
}
.container label{
    color: #fca311;
}