.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem 2rem;
    color: #f8f9fa;
    font-family: "Quicksand";
    position: fixed;
    width: 96.5%;
    top: 0;
  }
  
  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    margin: 2px;
  }
  
  .navbar-nav {
    display: flex;
  }
  
  .nav-item {
    list-style: none;
    margin-left: 1rem;
  }
  
  .nav-link {
    color: #f8f9fa;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s;
    font-size: 24px;
    margin: 3px;
  }
  .nav-link:hover {
    color: #333;
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 0.5rem;
  }
  .list{
    list-style: none;
    display: flex;
    gap: 25px;
}
.navbar label{
    color: #e9ecef;
    align-self: center;
    cursor: pointer;
    font-size: 30px;
}

.navbar .check{
    display: none;
}

#toggler,
.navbar .menuButton{
    display: none;
}
  @media screen and (max-width: 600px) {
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar .menuButton{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        padding: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .check:checked ~ .menu{
        max-height: 100%;
    }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input[type="checkbox"] {
  display: none;
}

.switch label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2176ff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.switch input[type="checkbox"]:checked + label {
  background-color: #fb8500;
}

.switch label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f8f9fa;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.switch input[type="checkbox"]:checked + label:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.switch h1{
  margin-left: 78px;
}
.languages{
  font-weight: bold;
  padding: 15px;
}